# Project Folders
node_modules/
.vscode-test/
.vscode/
testing/
build/
out/
src/

# Files
.yarnrc
.gitignore
.editorconfig
.eslintrc.json
.eslintignore
.prettierrc.js
.prettierignore

tsconfig.json
resources/ExtensionLogo.svg

# Files in any folder
**/*.map
**/*.ts
